[user]
	name = Bryan Gahagan
	email = bgahagan@gmail.com
[alias]
  ci = commit
  co = checkout
  st = status -sb
  serve = instaweb -d webrick # requires ruby, leaves server process hanging around
  out = !git fetch && git log FETCH_HEAD..master
  in = !git fetch && git log master..FETCH_HEAD
  vdiff = difftool -y
  pr = pull --rebase
  pp = !git pr && git push
  pd = !git pr && git push && ./build deploy -g HEAD
  unstash = stash pop
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lgtime = log --author=bryan --after=\"Feb 28, 2012\" --before=\"Jul 30, 2012\" --reverse --stat
  di = diff --word-diff=color --stat -p

[color]
	ui = auto
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[push]
	default = current
[core]
	editor = vim
