[user]
	name = Bryan Gahagan
	email = bgahagan@gmail.com
[alias]
  ci = commit
  ca = commit --amend
  co = checkout
  st = status -sb
  serve = instaweb -d webrick # requires ruby, leaves server process hanging around
  out = !git fetch && git log FETCH_HEAD..master
  in = !git fetch && git log master..FETCH_HEAD
  vdiff = difftool -y
  pr = pull --rebase
  prs = pull --rebase sortable master
  pp = !git pr && git push
  pps = !git prs && git push sortable
  pd = !git pp && ./build deploy -g HEAD
  pds = !git pps && ./build deploy -g HEAD
  unstash = stash pop
  lg = log --graph --date=short --pretty=format:'%C(green)%cd %C(auto)%h%d %s %C(bold blue)<%an>%C(reset)' --abbrev-commit
  lgtime = log --author=bgahagan --reverse --stat
  di = diff --word-diff=color --stat -p
  delete-branch = !git branch -d $1 && git push origin --delete $1
  force-delete-branch = !git branch -D $1 && git push origin --delete $1

[color]
  ui = auto

[diff]
  tool = meld
  renameLimit = 1979

[difftool]
        prompt = false
[difftool "meld"]
        cmd = meld "$LOCAL" "$REMOTE"
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
        tool = meld
[mergetool "meld"]
        cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[push]
	default = current
[core]
	editor = vim
[commit]
	verbose = true
